.log{
    border: 5px solid rgb(37, 30, 30);
    border-radius: 18px;
    padding: 50px;
    width: 325px;
    height: 225px;
    margin-left: 250px;
    margin-top: 85px;
    background-color:rgba(19, 25, 25, 0.763);
    box-shadow: 2px 2px 2px;
}

.input{
    border-radius: 8px;
    font-size: 20px;
    background-color: rgba(247, 247, 247, 0.785);
}

h4{
    margin-left: 150px;
}

a{
    text-decoration: none;
    border: 2px solid rgb(32, 31, 31);
    color: white;
    border-radius: 4px;
    background-color: black;
    margin-left: 250px;
    padding: 7px;
    margin-top: 45px;
    box-shadow: 3px 3px 6px;  
    font-size: 50px;
    text-shadow: 2px 2px 4px;  
}

h4{
    border: 2px solid rgb(32, 31, 31);
    color: white;
    border-radius: 4px;
    background-color: black;
    margin-left: 250px;
    padding: 7px;
    box-shadow: 3px 3px 6px;  
    font-size: 25px;
    text-shadow: 2px 2px 4px;
    width: 250px;   
}